footer {
    justify-content: center;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(230, 218, 218);
    text-align: center;
    padding: 50px
};

button{
    text-align: center;
    padding: 10px;
    background-color: rgb(77, 15, 15);
}