#btnn{
    background-color: black;
    padding: 20px;
    margin: 10px;
    color: white;
    border: 2px solid red;

}
#btndiv{
    text-align: center;
}
#btns{
    margin: 15px;
    background-color: aliceblue;
}
#changes{
    text-align: center;
}